<div id="@_id">
    <div class="flex">
        <button class="datepicker-toggle"><i class="ri-calendar-2-fill"></i></button>
        <input type="text" readonly>
    </div>
    <div class="datepicker-container floating-ui hidden
                bg-primary-1 shadow-lg border border-black text-primary-1 rounded
                w-80 p-2">

        <div class="flex justify-between pb-2">
            <button class="prev"><i class="ri-arrow-left-line"></i></button>
            <div class="current-month"></div>
            <button class="next"><i class="ri-arrow-right-line"></i></button>
        </div>
        <div class="days-container grid grid-cols-7 grid-rows-5 justify-items-center h-32"></div>
        <div class="flex gap-1 my-3 flex-col">
            <div class="flex justify-between gap-1">
                <span class="block w-11">From:</span>
                <input type="date" class="from-date-input" max="@(DateTime.Now.ToString("yyyy-MM-dd"))">
                <input type="time" class="from-time-input">
            </div>
            <div class="flex justify-between gap-1">
                <span class="block w-11">To:</span>
                <input type="date" class="to-date-input" max="@(DateTime.Now.ToString("yyyy-MM-dd"))">
                <input type="time" class="to-time-input">
            </div>
        </div>
        <div class="flex justify-end gap-2 px-2">
            <button class="cancel-button">Cancel</button>
            <button class="ok-button">Ok</button>
        </div>
    </div>
</div>
